@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */

.display-flex {
    display: flex;
}

.content-width {
    /* width: 94%; */
    max-width: 1440px;
    margin: 0 auto;
}

.vs-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn {
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;

}

/* Main Style */
header {
    padding-bottom: 45px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 50px;
}

.nav-links {
    gap: 20px;
}

.navbar .nav-item {
    list-style: none;
    color: #424242;
    font-size: 18px;
    margin-top: 50px;
}

.navbar .nav-link {
    text-decoration: none;
    color: #424242;
    font-size: 18px;

}


.banner-content {
    max-width: 862px;
    margin: 0 auto;
    margin-top: 102px;
    text-align: center;
    flex-direction: column;
    gap: 25px;
    /* margin-top: 102px; */
    margin-bottom: 50px;

}

.banner-content h2 {
    font-weight: 865;
    font-size: 4rem;
    margin-bottom: 25px;
}

.banner-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px
}


.banner img {
    width: 100%;
}

.features-container {

    align-items: center;
    gap: 50px;
    margin: 130px;

}

.features-container .features-content h2 {
    font-size: 2.7rem;
}

.features-content h2 {
    margin-bottom: 24px;
}

.features-content {
    max-width: 537px;
}

.features-content p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 30px;

}

.features-content #color-gray {
    color: #727272;
    font-weight: 500;

}

.features-content .orange {
    color: #FF900E;
}

.features-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.enjoy {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 130px;
    display: flex;
    gap: 145px;
}

.enjoy .enjoy-content {
    max-width: 586px;
}


.enjoy h3 {
    font-size: 2.8rem;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}

.enjoy-text {
    margin-bottom: 30px;
}

.enjoy-content h5 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #131313;
}

.enjoy p {
    font-size: 1rem;
    line-height: 1.5;
}

.enjoy .box {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    max-width: 586px;
    max-height: 171px;
    border-radius: 8px;

}

.enjoy-architect {
    width: 100%;
}

.experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -100px;
}

#experience-year {
    font-size: 4rem;
    font-weight: 700;
}

.facts {
    max-width: 1440px;
    margin: 0 auto;
}

/* .facts-all-things {} */

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1339px;
    gap: 124px
}

.facts h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.facts p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 100px;
    max-width: 540px;
}

.facts-card {
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.facts-card .fact-number {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}

.facts-card .fact-name {
    font-size: 1.2rem;
    color: #727272;
}

.sponsorse .title {
    max-width: 542px;
    margin: 150px auto 50px;
    text-align: center;

}

.sponsorse .title h3 {
    font-size: 2.8rem;
    margin-bottom: 24px;
}


.sponsorse .sponsorse-logo {
    max-width: 1440px;
    margin: 50px auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
}

.sponsorse-logo img {
    filter: grayscale(100%);
}

.copyright {
    max-width: 1440px;
    padding: 38px 410px;
    background-color: #FFF4E7;
    margin: 130px auto;
    text-align: center;
    border-radius: 8px;
}

@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .features-container,
    .enjoy {
        flex-direction: column;
    }

    .sponsorse .sponsorse-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .features-container {
        margin: 0 auto;
    }

    .features-image,
    .fact-container,
    .sponsorse-logo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;

    }

    .experience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }

    .facts {
        margin-top: 50px;
    }

    .fact-container {
        gap: 20px;

    }

    .features-content {
        margin: 10px auto;
        text-align: center;

    }

    .copyright {
        width: 90%;
        padding: 38px 100px;
        background-color: #FFF4E7;
        margin: 130px auto;
        text-align: center;
        border-radius: 8px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

    .features-container {
        flex-direction: column;

    }


    .fact-container,
    .sponsorse-logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

}